body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center; /*alinha horizontalmente*/
    align-items: center; /*alinha verticalmente*/
    flex-direction: column;
    background-color: black;
    color: #59cd90;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#botao {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-radius: 8px;
    background: linear-gradient(rgba(207, 252, 255),rgba(207, 252, 255)50%);
}